<h1>Welcome to ChefBuddy!</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= @response["recipeName"] %></p>
<p><%= link_to image_tag(@response["imageUrlsBySize"]["90"]), "http://www.yummly.com/recipe/#{@response["id"]}" %></p>
<p><%= link_to "#{@response["recipeName"]}", "http://www.yummly.com/recipe/#{@response["id"]}" %></p>
