<h1>Welcome to ChefBuddy!</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= @response["id"] %></p>
<p><%= @response["recipeName"] %></p>
<%= link_to "#{@response["recipeName"]}", "http://www.yummly.com/recipe/#{@response["id"]}" %>
